{% csrf_token %}


<div class="mb-3">
    <label for="title" class="form-label">Title</label>
    {% if errors.title %}
      <input type="text" name ='title' class="form-control red_border" id="title" placeholder="Title" value="{{post.title}}" >
      <p class="text-danger">{{ errors.title }}</p>
    {% else %}
    <input type="text" name ='title' class="form-control" id="title" placeholder="Title" value="{{post.title}}">
    {% endif %}
</div>              
<div class="mb-3">
  <label for="body" class="form-label">Enter text</label>
  <textarea class="form-control" name = 'body' id="body" rows="4">{{post.body}}</textarea>
</div> 
<div class="mb-3">
  <label for="author" class="form-label">Author</label>
  {% if errors.author %}
      <input type="text" name ='author' class="form-control red_border" id="author" placeholder="Author" value="{{post.author}}">
      <p class="text-danger">{{ errors.author }}</p>
    {% else %}
    <input type="text" name = 'author' class="form-control" id="author" placeholder="Author" value ='{{post.author}}'>
  {% endif %}
  
</div>