{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Are you sure that you want to delete "{{post.title}}" post?</h5>
      <form action="{% url 'post_delete' post.pk %}" method = 'POST'>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes</button>
        <a href="{%url 'post_list' %}" class="btn btn-primary">No</a>
      </form>
    </div>
  </div>
{% endblock %}
