{% extends 'base.html' %}
{% load static %}


{% block css %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.body }}</p>
    <p class="mb-0 green_color"> by {{ post.author }}</p>
    <p style="font-size: 12px;" class="green_color">{{ post.created_at }}</p>
    <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Edit post</a>
    <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete post</a>
  </div>
</div>

{% endblock %}