{% extends 'base.html' %}

{% block content %}

  <div class="list-group">
    {% for post in posts %}
    <a href="{% url 'post_detail' post.pk %}" class="list-group-item list-group-item-action">
      <span style="color: blue;">{{ post.title }}</span> 
      <span style="font-size: small;">by {{post.author}}</span>
    </a>
    <p class="card-text" style="font-size: x-small; color: grey;">{{ post.body }}</p>
    {% endfor %}
  </div>
{% endblock %}
        
