{% extends 'base.html' %}

{% block content %}
<h1>Update Post</h1>
<form action="{% url 'post_update' post.pk %}" method = 'POST'>
  {% include 'partials/post_form.html' %} 

    <button type="submit" class="btn btn-primary">Update post</button>
</form>
{% endblock %}