{% extends 'base.html' %}

{% block content %}
<h1>Create Post</h1>
<form action="{% url 'post_create' %}" method = 'POST'>
    {% include 'partials/post_form.html' %} 

    <button type="submit" class="btn btn-primary">Submit the post</button>
</form>
{% endblock %}

